@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

/* main content */

#main {
  display: grid;
  grid-template-columns: 6fr 6fr;
  padding: 80px 20px;
  gap: 2rem;
  background: linear-gradient(rgb(255, 0, 102) 50%, rgb(140, 0, 255));
}

.results {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#op {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 86vw;
  max-width: 420px;
  height: 100px;
  border: none;
  border-radius: 10px;
  background-color: black;
  resize: none;
  color: white;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container {
  margin: auto;
  background: black;
  color: white;
  width: 600px;
  border-radius: 10px;
  border: 8px solid black;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.tweaks {
  padding: 20px;
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 10px;
}

.wrapper {
  display: flex;
  transition: all 0.3s ease;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
}

#element {
  background: linear-gradient(rgb(255, 0, 102), rgb(140, 0, 255));
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
}

.wrapper input {
  width: 100%;
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
}

.input {
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/deadpool.jpg) no-repeat center/cover;
  padding: 80px;
}

.me {
  width: 80vw;
  max-width: 360px;
  border-radius: 50%;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.value {
  width: 40px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  background-color: yellow;
  color: black;
  text-align: center;
  right: 0;
}

#explore {
  font-weight: 500;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: #fff;
  color: black;
  text-align: center;
}

.more {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  font-weight: 250;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.more li {
  font-size: 21px;
}

@media only screen and (max-width: 680px) {
  .container {
    width: 80vw;
  }

  .tweaks {
    grid-template-columns: 100%;
  }

  .more {
    justify-content: flex-start;
    margin: auto;
    width: fit-content;
  }
}

@media only screen and (max-width: 1240px) {
  #main {
    grid-template-columns: 12fr;
  }

  /* .txt{
        text-align: ;
    } */
}
